@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Fredoka:wght@300..700&display=swap');

@import "tailwindcss";

.font-fredoka {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.font-cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 300; 
  font-style: normal;
}